@if (playerRs.value() && !playerRs.isLoading()) {
  <div class="player-header">
    <div class="container">
      <div class="player-row">
        <app-summoner-icon [profileInfo]="playerRs.value()?.profileInfo"></app-summoner-icon>

        <div class="player-identity">
          <div class="player-name">{{ playerRs.value()?.name }}</div>
          <div class="summoner-row" (click)="playerRs.value()?.navigateToOPGG()">
            <span class="summoner-name">{{ playerRs.value()?.summonerName }}</span>
            <span class="summoner-tag">#{{ playerRs.value()?.summonerTag }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="player-body">
    <section class="swiper-container">
      <div class="chart-container small-chart">
        <swiper-container
          class="charts-swiper"
          slides-per-view="1"
          space-between="16"
          loop="true"
        >
          @for (queue of queueTypes; track queue) {
            <swiper-slide class="charts-slide">
              <app-winrate-chart
                [queueType]="queue"
                [wins]="playerRs.value()?.getQueue(queue)?.wins ?? 0"
                [losses]="playerRs.value()?.getQueue(queue)?.losses ?? 0">
              </app-winrate-chart>
            </swiper-slide>
          }
        </swiper-container>
      </div>
    </section>

    <section class="chart-container history-chart-container">
      <app-rank-history-chart
        [rankHistory]="playerRs.value()?.history ?? []">
      </app-rank-history-chart>
    </section>

    <section class="masteries-container">
      @for (mastery of playerRs.value()?.masteries; track mastery.championId) {
        <app-champion-mastery-card [mastery]="mastery"></app-champion-mastery-card>
      }
    </section>
  </div>
}
