@if (playerRs.value() && !playerRs.isLoading()) {
  <div class="player-header">
    <div class="container">
      <div class="player-row">
        <div class="icon-container">
          <div class="player-icon">
            <img
              [src]="'https://ddragon.leagueoflegends.com/cdn/' + environment.lolPatch + '/img/profileicon/' + playerRs.value()?.profileInfo?.profileIconId + '.png'"
              alt="Summoner icon" />
          </div>
          <div class="player-rank">
            {{ playerRs.value()?.profileInfo?.summonerLevel }}
          </div>
        </div>
        <div class="player-identity">
          <div class="player-name">{{ playerRs.value()?.name }}</div>
          <div class="summoner-row" (click)="playerRs.value()?.navigateToOPGG()">
            <span class="summoner-name">{{ playerRs.value()?.summonerName }}</span>
            <span class="summoner-tag">#{{ playerRs.value()?.summonerTag }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="player-body">
    <div class="swiper-container">
      <div class="chart-container">
        <swiper-container
          class="charts-swiper"
          slides-per-view="1"
          space-between="16"
          loop="true"
        >
          @for (queue of queueTypes; track queue) {
            <swiper-slide class="charts-slide">
              <app-winrate-chart
                [queueType]="queue"
                [wins]="playerRs.value()?.getQueue(queue)?.wins ?? 0"
                [losses]="playerRs.value()?.getQueue(queue)?.losses ?? 0">
              </app-winrate-chart>
            </swiper-slide>
          }
        </swiper-container>
      </div>
    </div>
  </div>
}
