.page {
  min-height: 100%;
  width: 100%;
  padding-bottom: 100px;
}

.logo-container {
  margin-top: 16px;
  display: flex;
  justify-content: center;
}

@media (max-width: 900px) {
  .logo {
    height: 190px;
  }
}
