<div class="player-card">
  <!-- Parte superior -->
  <div class="player-card__top">
    <div class="player-card__left">

      <!-- Logo SPN -->
      <div class="player-rank">
        {{ rank() }}
      </div>

      <!-- Datos del jugador -->
      <div class="player-card__identity">

        <div class="player-card__name-row">
          <span class="player-card__summoner-name">
            {{ player()?.name }}
          </span>

          <span class="player-card__tagline" (click)="player()?.navigateToOPGG()">
            {{ player()?.summonerName }}#{{ player()?.summonerTag }}
          </span>
        </div>

      </div>
    </div>

    <!-- Avatar -->
    <div class="player-card__avatar">
      <img
        [src]="'https://ddragon.leagueoflegends.com/cdn/' + environment.lolPatch + '/img/profileicon/' + player()?.profileInfo?.profileIconId + '.png'"
        alt="Summoner icon" />
    </div>
  </div>

  <!-- Línea dorada -->
  <div class="player-card__divider"></div>

  <!-- Parte inferior -->
  <div [style.--splash-url]="splashUrl() ? 'url(' + splashUrl() + ')' : 'none'" class="player-card__bottom">
    <!-- Badges -->
    <div class="player-card__badges">

      <div class="tier-pill tier-{{ player()?.getQueue(queue() ?? 'soloQ')?.tier | lowercase }}">
        {{ 'leagues.' + player()?.soloQ?.tier | translate }} {{ player()?.soloQ?.rank }}
      </div>

      <div class="badge badge--lp">
        {{ player()?.soloQ?.leaguePoints }} LP
      </div>

      <div class="badge badge--record">
        <span class="record record--wins">{{ player()?.soloQ?.wins }}W</span>
        <span class="record__slash"> / </span>
        <span class="record record--losses">{{ player()?.soloQ?.losses }}L</span>
      </div>
    </div>
  </div>
</div>

